@using Contracts.Order;
@model OrderForCreationDto
@{
    ViewData["Title"] = "Create Order Page";
}
<div class="text-center">
    <h1>Создание заказа</h1>
    <input asp-for="Number" placeholder="Введите номер"/>
    <span asp-validation-for="Number"></span>
    <input asp-for="ProviderId" placeholder="Введите номер" />
    <span asp-validation-for="Number"></span>
</div>