@using System.Globalization;
@using Contracts.Order;
@model OrderDto
@{
    ViewData["Title"] = "Order Page";
}
<div class="text-center">
    <div>
        <h1>Order Information</h1>
    </div>
    <p><b>ID: </b>@Model.Id</p>
    <p><b>Number: </b>@Model.Number</p>
    <p><b>Provider name: </b>@Model.Provider.Name</p>
    <p><b>Created date: </b>@Model.Date.ToString("D", CultureInfo.GetCultureInfo("ru-RU"))</p>
</div>