@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="text-center">
    <h1 class="text-danger">
        <b>Error...</b>
    </h1>
    <h2 class="text-danger">@Model.Message</h2>
</div>